
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    background:#1F1D2B;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 0px;
    padding-right:20px;
}

ul.iconul li {
    padding-bottom: 20px;
}

ul.iconul {
    border-right: 1px solid #3e3e3e;
    flex: 0 7%;
    text-align: center;
    position:relative;
}

ul.iconul:before {
    position: absolute;
    content: "";
    top: -20px;
    right: 0;
    height: 106%;
    border-right: 1px solid #3e3e3e;
}

ul.iconul li a {
    color: #FAFDFC;
}

ul.iconul li a i {
    width: 35px;
    height: 35px;
    background: #6a6a6d;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-left: 50%;
    font-size: 14px;
    transform: translate(-50%);
}

ul.iconul li:first-child a i{
    background: #0fbb83;
}

ul.iconul li:first-child{
    margin-bottom: 35px;
}

ul.iconul li:nth-child(4) a i {
    background: #32A7E2;
}

ul.iconul li:last-child a i {
    background: #6C5ECF;
}

ul.iconul li:nth-child(6){
    margin-bottom: 50px;
    position:relative;
}

ul.iconul li:nth-child(6):before {
    content: "";
    position: absolute;
    width: 27px;
    height: 1px;
    background: #3e3e3e;
    top: 131%;
    left: 33%;
}

ul.iconul li:nth-child(10){
    margin-bottom:50px;
    position:relative;
}

ul.iconul li:nth-child(10):before {
    content: "";
    position: absolute;
    width: 27px;
    height: 1px;
    background: #3e3e3e;
    top: 131%;
    left: 33%;
}

.middlecon{
    flex: 0 54%;
}

.rightsec {
    flex: 0 30%;
}

.middlecon input {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 8px 12px;
    background: #3a3848;
    position: relative;
}

.inputbox {
    width: 450px;
    position: relative;
}

.inputbox i {
    position: absolute;
    top: 10px;
    right: -16px;
    font-size: 12px;
    color: #5d5d5d;
}

.yvideo {
    border-radius: 10px;
}

.channelinfo {
    display: flex;
    justify-content: space-between;
}

.cfirstcon {
    flex: 0 63%;
    margin-top: 27px;
}

.csecondcon {
    flex: 0 30%;
    margin-top: 36px;
}

.cimcon {
    display: flex;
    align-items: center;
    color: white;
}

.cimage {
    width: 50px;
    position: relative;
    margin-right: 15px;
    cursor:pointer;
}

.cimage img {
    max-width: 100%;
}

.cimage i {
    position: absolute;
    top: 30px;
    right: -2px;
    color: white;
    width: 20px;
    height: 19px;
    background: #32a7e2;
    border-radius: 50%;
    font-size: 9px;
    display: grid;
    place-items: center;
}

.chinfo h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor:pointer;
}

.chinfo {
    position: relative;
    width: 277px;
}

.chinfo i {
    position: absolute;
    left: 40%;
    top: 6.3px;
    font-size: 7px;
    color: #0fbb83;
}

.chinfo span {
    font-size: 12px;
    color: #777;
}

.cfirstcon h2 {
    color: #cecece;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cfirstcon p {
    margin-bottom: 33px;
    color: #969696;
    font-size: 11px;
    line-height: 18px;
}

.lsbtn span {
    background: #3a3848;
    color: white;
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0px;
    margin-right: 16px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}

.lsbtn {
    display: flex;
    margin-bottom: 25px;
}

.lsbtn span:last-child {
    margin-right: 0px;
    background: #ff6e63;
}

.lsbtn span i {
    margin-right: 8px;
}

ul.csenonul li {
    padding: 13px 0px;
    color: #ababab;
    font-size: 12px;
}

ul.csenonul li i {
    font-size: 13px;
    margin-right: 9px;
}

.nofication {
    display: flex;
    color: white;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-left: 46%;
    margin-bottom: 23px;
}

.nofiimg {
    width: 40px;
    display: flex;
    align-items: center;
}

.nofiimg img {
    max-width: 100%;
    margin-right: 10px;
}

.combox {
    background: #252836;
    border-radius: 10px;
    height: 378px;
    position: relative;
}

.nofiimg span {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.nofiimg span i {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
    margin-left: 10px;
}

.mesimg .cimage{
    width:45px;
}

.mesimg .cimage i{
    width: 13px;
    height: 13px;
    top: 24px;
    font-size: 8px;
}

.comtop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    align-items: center;
    position: relative;
}

.comtop h4 {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.comtop span {
    color: #969696;
    font-size: 13px;
}

.comtop span i {
    font-size: 13px;
    margin-right: 5px;
}

.cboxinner {
    padding: 20px;
}

.comtop:before {
    position: absolute;
    content: "";
    bottom: -108%;
    left: -20px;
    width: 111.2%;
    border-bottom: 1px solid #4a4a4a77;
}

.mesimg {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mesimg .chinfo h4 {
    font-size: 12px;
}

.mesimg .chinfo i {
    left: 36%;
    font-size: 6px;
}

.mesimg .chinfo span {
    color: #a2a2a2;
    font-size: 11px;
}

iframe{
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

.messbox {
    height: 238px;
    overflow: hidden;
    overflow-y: scroll;
}

.writemess {
    position: absolute;
    bottom: 7px;
    left: 23px;
    width: 82%;
}

.writemess input {
    width: 100%;
    padding: 10px 13px;
    position: relative;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #373a48;
    color: white;
}

.writemess .maddbtn {
    position: absolute;
    right: -16px;
    top: 5px;
    display: flex;
    width: 25px;
    height: 25px;
    background: #6C5ECF;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    cursor:pointer;
    border: none;
    outline: none;
}

::-webkit-scrollbar-thumb{
    background:rgb(143, 143, 143);
}

::-webkit-scrollbar-track{
    background:none;
}

::-webkit-scrollbar{
    width: 2px;
    height:10px !important;
}

.singleimg {flex: 0 27%;margin-right: 16px;}

.singleimg img {
    max-width: 100%;
    height: 80px;
    border-radius: 10px;
}

.singlevideo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    cursor:pointer;
}

.sininfo {
    flex: 0 71%;
}

.rightbottom {
    margin-top: 37px;
}

.rightbottom h4 {
    color: #e2dede;
    font-weight: 600;
    margin-bottom: 28px;
}

.sininfo h4 {
    font-size: 14px;
    font-weight: 600;
    color: #cccccc;
}

.vidoewra {
    width: 85%;
}

.sininfo p {
    color: #c1b9b9;
    font-size: 13px;
    margin-top: -22px;
}

.sininfo span {
    color: #a0a0a0;
    font-size: 10px;
    margin-top: 9px;
    display: block;
}

.seeall a {
    background: #6c5ecf;
    color: white;
    font-size: 12px;
    width: 97%;
    display: block;
    text-align: center;
    padding: 13px 0px;
    border-radius: 40px;
    margin-top: 24px;
}



.userimg {
    width: 37px;
    position: relative;
}

img.mimage {
    max-width: 100%;
}

.imageicon {
    position: absolute;
    top: 26px;
    right: 1px;
    color: white;
    width: 13px;
    height: 13px;
    background: #32a7e2;
    border-radius: 50%;
    font-size: 7px;
    display: grid;
    place-items: center;
}

.mtitle {
    color: white;
}